*.log
/dir/
static/dir
sdfsdf

latini salebiyo ne qustuntunia pe hamla karke apne hi mazhabi peshwaon ka jeena mushkil kiya hua hai
nikai ki umimi hukumat salebiyo se nafrat karti hai ye hi wajah hai ke sultan alahuddin aur rum ki saltanat ke darmiyaan dosti kaayam hai
ham bulkul sarhad par hai jo sab se khatarnak elaaka hai lekin jo bhi sarhad ki hifaazar karenga usi kaa honga mustaqbil